<h1>All Movies</h1>
<div class="index-container">
  <% @movies.each do |movie| %>
  <div class="card" style="width: 18rem;">
   
    <div class="card-body">
      <p class="card-title"><strong>Name: </strong><%= movie.name %></p>
      <p class="card-text"><strong>Description: </strong><%= movie.description %></p>
     <a href="#" class="btn btn-primary">Go somewhere</a><br><hr>
    </div>
  </div>
  <% end %>
</div>