<div class="index-container">
  <% @movies.each do |movie| %>
  <div class="card" >
   
    <div class="card-body center">
      <%= link_to image_tag(movie.picture.url), movie if movie.picture? %>
      <% #render 'users/watchlist_form', object: movie  if user_signed_in? %>
      <% #render 'users/watchlist_form', object: movie  if user_signed_in? %>
    </div>
  </div>
  
  <% end %>

</div>
<div class="paginate">
  <%= paginate @movies %>
</div>
