<h1>All Movies</h1>
<div class="index-container">
  <% @movies.each do |movie| %>
  <div class="card" style="width: 18rem;">
   
    <div class="card-body">
      <p class="card-title"><strong>Name: </strong><%= movie.name %></p>
      <p class="card-text"><strong>Description: </strong><%= movie.description.truncate(70) %></p>
      <%= image_tag movie.picture.url if movie.picture? %>
      <% #render 'users/watchlist_form', object: movie  if user_signed_in? %>
      <% #render 'users/watchlist_form', object: movie  if user_signed_in? %>
    </div>
  </div>
  <% end %>
</div>
