<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @movie.name %></h5>
    <p class="card-text"><%= @movie.description %></p>
    <%  if user_signed_in? %>
      <%= render partial: 'users/watch_form',locals: {movie:  @movie} %>
      <%= render partial: 'users/watchlist_form',locals: {movie:  @movie} %>
    <% end %>
  </div>
</div>