

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=<%= "#{url_for(@movie.image)}" %> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @movie.name %></h5>
    <p class="card-text"><%= @movie.description %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>