
<%= @user.name %>


<div class="index-container">
<h2 class="Watched_title"><%= link_to 'Watched Movies', watched_user_path(current_user) %></h2>
  
</div>

<div class="index-container">
<h2 class="Watchlist_title"><%= link_to 'Watchlist', watchlist_user_path(current_user.id) %></h2>
  
</div>