.navbar {
    background-color: #637EC5 !important;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-brand {
    font-weight: bolder !important;
    font-size: 20px !important;
}